<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
      <title>Kamu pake VPN?</title>
   </head>

   <body class="bg-gray-900 text-white">
      <div id="app" class="min-h-screen flex items-center justify-center">
         <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-4">Kamu pake VPN?</h1>
            <div class="mt-8">
               <div v-if="isUsingVPN" class="text-2xl font-bold bg-red-500 p-4 rounded-md mb-4">Cieee... Ketahuan pake VPN</div>
               <div v-else class="text-2xl font-bold bg-green-500 p-4 rounded-md mb-4">Mantap Ente bersih...
               </div>
            </div>
            <div v-if="info" class="mt-8">
               <h2 class="text-xl font-bold mb-2">Informasi Lokasi dan Koneksi:</h2>
               <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                  <div v-for="(value, key) in info" :key="key" class="bg-gray-800 p-4 rounded-md text-left">
                     <strong class="text-gray-400">{{ key.charAt(0).toUpperCase() + key.slice(1) }}:</strong>
                     <span v-if="typeof value === 'object'">{{ value.code }} ({{ value.name }})</span>
                     <span v-else>{{ value }}</span>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <script>
         new Vue({
            el: '#app',
            data: {
               isUsingVPN: false,
               info: null,
            },
            async mounted() {
               try {
                  const result = await this.checkVPNUsage();
                  this.isUsingVPN = result.isUsingVPN;
                  this.info = result.info;
               } catch (error) {
                  console.error('Error:', error);
               }
            },
            methods: {
               async checkVPNUsage() {
                  try {
                     const response = await fetch('https://bpvp/check-ip/proxy.php');
                     const result = await response.json();

                     return result;
                  } catch (error) {
                     console.error('Error checking VPN usage:', error);
                     throw error;
                  }
               }
            }
         });
      </script>
   </body>

</html>